div.header
    div.logo
    div.navigate
        div.navigate-item(ng-click="scrollToElement('profile')") WHO WE ARE
        div.navigate-item(ng-click="scrollToElement('tour')") WHAT WE DO
        div.navigate-item(ng-click="scrollToElement('contact')") CONTACT

