extends layout
block content
    div.home-header
        img.main-logo(src="images/home/veilup_logo.png")
    div.home-container
        img(src="images/home/home_bg.jpg")
        div.main-panel
            div.title
                h1 Meet Brilliant Local People!
                p we strives to discover interesting and talented people in tourist areas all over the world.
                p  We connect them to the rest of the world by building fascinating personal website to tell their stories and to show the amazing activities that they are eager to share with tourists.
                p  Follow us and travel with brilliant local people!
        a.enter-path(href="wesingtogether")
            div.enter-country Sri Lanka
            img(src="images/home/homepage_linkimag.png")
            div.enter-city Negombo
            div.enter-people
                img(src="images/home/contact_michael.png")
                img(src="images/home/contact_seba.png")
    div.home-footer
        p
            | If you have met any interesting locals during your trip whom you found worth recommending to other travellers, do let us know by email via
            a(href="mailto:contact@veilup.com")   contact@veilup.com
            | , they may got a compelling personal website specially designed for them!