doctype html
html(ng-app='negombo')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-1.11.1.min.js')
        script(src='/javascripts/angular/vendor/angular.min.js')
        script(src='/javascripts/angular/vendor/angular-animate.min.js')
        script(src='/javascripts/angular/vendor/angular-soundmanager.js')
        script(src='/javascripts/angular/vendor/ng-flow-standalone.min.js')
        script(src='/javascripts/angular/vendor/canvas-to-blob.min.js')
        script(src='/javascripts/angular/vendor/load-image.all.min.js')
        script(src='/javascripts/angular/application/application.js')
        script(src='/javascripts/angular/common/directives/ng-swing.js')
        script(src='/javascripts/angular/common/directives/ng-full-page.js')
        script(src='/javascripts/angular/common/directives/ng-move-profile.js')
        script(src='/javascripts/angular/common/directives/ng-song-item.js')
        script(src='/javascripts/angular/common/directives/ng-slide/ng-slide.js')
        script(src='/javascripts/angular/common/directives/ng-review-extend.js')
        script(src='/javascripts/angular/common/directives/ng-review-editor/ng-review-editor.js')
        script(src='/javascripts/angular/common/directives/ng-review-list/ng-review-list.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', 'UA-57434178-1', 'auto');
            ga('send', 'pageview');

    body(ng-controller='ApplicationCtrl')
        block content