@font-face {
  font-family: 'Telugu';
  font-style: normal;
  font-weight: 400;
  src: url('font/TeluguMN.woff');
}
@font-face {
  font-family: 'Telugu';
  font-style: normal;
  font-weight: 700;
  src: url('font/TeluguMN-Bold.woff');
}
body {
  margin: 0;
  font-family: 'Telugu', sans-serif;
  font-size: 14px;
}
.header{
  width: 100%;
  height: 88px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#CE1E16), to(#A21913));
  background: -moz-linear-gradient(top, #CE1E16, #A21913);
  .logo{
    background-image: url(../images/srilanka_logo.png);
    width: 162px;
    height: 162px;
    position: absolute;
    z-index: 1;
    left: 68px;
    top: 18px;
  }
  .navigate{
    float: right;
    width: 400px;
    .navigate-item{
      color: #800000;
      line-height: 60px;
      font-size: 18px;
      margin-right: 20px;
      float: left;
    }
  }
}
.main-container{
  width: 100%;
  overflow:hidden;
  position: relative;
  .main-title{
    margin: 0 auto;
    color:  #E84343;
    font-size: 27px;
    font-weight: 700;
    z-index: 1;
    position: absolute;
    left: 400px;
    top: 54px;
    .main-subtitle{
      font-size: 17px;
      font-weight: 400;
      color: #ffffff;
    }
  }
  .main-poster img{
    position: absolute;
    width: 100%;
  }
}
.profile-container{
  width: 100%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#428b3a), to(#0e8c97));
  background: -moz-linear-gradient(top, #428b3a, #0e8c97);
  position: relative;
  .profile-jumbo{
    width: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -80px;
    z-index: 0;
    .profile-image{
      float: left;
      position: relative;
      width: 316px;
      .profile-square{
        position: absolute;
        top: 174px;
        left: 20px;
      }
      .profile-name{
        position: absolute;
        top: 220px;
        left: 20px;
        color: #ffffff;
        font-size: 18px;
      }
      p{
        color: #ffffff;
        margin: 24px;
        font-size: 15px;
        font-family: arial, sans-serif;
      }
    }
    .profile-title{
      font-size: 27px;
      color: #ffffff;
      padding: 10px;
    }
  }
  .profile-music{
    width: 100%;
    height: 140px;
    position: absolute;
    bottom: 0px;
    background-color: #E6E6E6;
    .song-area-icon{
      float: left;
      margin: 16px;
    }
    .song-area{
      margin-left: 138px;
      margin-top: 4px;
      width: 1005px;
      height: 130px;
      position: relative;
      border: solid 0px #bcbec1;
      border-top-width: 1px;
      border-left-width: 1px;
      .active{
        background-color: #FFD119;
        color: #ffffff;
      }
      .song-item{
        float: left;
        width: 200px;
        text-align: center;
        height: 65px;
        font-size: 14px;
        cursor: pointer;
        color: #545454;
        border: solid 0px #bcbec1;
        border-bottom-width: 1px;
        border-right-width: 1px;
        img{
          margin-top: 4px;
        }
        p{
          margin: 0;
          line-height: 65px;
        }
      }
    }
  }
}
.tour-container{
  z-index: 2;
  width: 100%;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#7f0909), to(#2a3f68));
  background: -moz-linear-gradient(top, #7f0909, #2a3f68);
  .tour-header{
    height: 20%;
    width: 100%;
    position: relative;
    .tour-title {
      position: absolute;
      font-size: 25px;
      color: #ffffff;
      text-align: center;
      left: 10%;
      bottom: 24%;
    }
    .tour-tab-area{
      position: absolute;
      right: 10%;
      bottom: 15%;
      border: solid 1px #bcbec1;
      .tour-tab{
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        width: 160px;
        float: left;
        height: 45px;
        line-height: 45px;
      }
      .active{
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .slide-area{
    height: 70%;
    width: 90%;
    overflow:hidden;
    position: relative;
    border: solid 1px #bcbec1;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    .slide-container{
      position: absolute;
      .slide-item{
        padding: 20px;
        width: 555px;
        height: 100%;
        display: table-cell;
        vertical-align: top;
        border: solid 0px #bcbec1;
        border-right-width: 1px;
        p{
          color: #ffffff;
          font-size: 18px;
          margin: 0;
        }
      }
    }
  }
}
.underscore{
  text-decoration: underline;
}
a {
  color: #00B7FF;
}
.slide-icon {
  display: inline-block;
  width: 77px;
  height: 77px;
  background-image: url(../images/icons/arrow.png);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}
.slide-icon-left{
  background-position-x: 0px;
  background-position-y: 77px;
  left: 20px;
}
.slide-icon-right{
  background-position-x: 77px;
  background-position-y: 77px;
  right: 20px;
}
.slide-icon-active{
  background-position-y: 0px;
}