body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.header{
  width: 100%;
  height: 60px;
  background-color: #E84343;
  .logo{
    background-image: url(../images/srilanka_logo.png);
    width: 162px;
    height: 162px;
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 20px;
  }
  .navigate{
    float: right;
    width: 400px;
    .navigate-item{
      color: #800000;
      line-height: 60px;
      font-size: 18px;
      margin-right: 20px;
      float: left;
    }
  }
}
.main-container{
  width: 100%;
  overflow:hidden;
  position: relative;
  .main-title{
    margin: 0 auto;
    color:  #E84343;
    font-size: 27px;
    font-weight: 700;
    z-index: 1;
    position: absolute;
    left: 251px;
    top: 60px;
    .main-subtitle{
      font-size: 17px;
      font-weight: 400;
    }
  }
  .main-poster img{
    position: absolute;
    height: 100%;
  }
  .move{
    -webkit-animation: move 3s ease infinite;
  }

  @keyframes move {
    50% {
      right:200px;
    }
  }
}
.profile-container{
  width: 100%;
  background-color: #FFCC00;
  position: relative;
  .profile-jumbo{
    width: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -80px;
    .profile-title{
      font-size: 27px;
      color: #ffffff;
      padding: 10px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }

}
.underscore{
  text-decoration: underline;
}
a {
  color: #00B7FF;
}